<div style="background-image: url('../../assets/background.jpg'); background-position: center center;
      height: 100%; overflow: hidden;object-fit: cover;margin: 0;
      padding: 0; height: 100vh;
        ">
    <h1>Leaderboards</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        <tr *ngFor="let user of leaderboards">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.score }}</td>
        </tr>
    </table>
</div>