#name {
    margin-top: 100px;
    margin-left: 100px;
}

#namee {
  
  
  bottom: 265px;
  left: 260px;
  height: 50px;
  width: 400px;
  font-size: 24px;
 
}

#name-next {
    position: relative;
    top: 450px;
  left: 350px;
}

#name-next:hover {
    height: 120px;
    width: 230px;
}