<div style="background-image: url('../../assets/background.png'); width: 1100px; height: 950px;">
    <div id="next-container" style="display: inline;">
        <img id="next" (click)="sendPostRequestToHome()"  src="../../assets/back.png"/>
    </div>
    <div style="position: relative; display: inline;">
        <img style="position:absolute; margin-top:10px; margin-left: 100px;" src= "../../assets/board.png" />
        <img style="position:absolute; margin-left: 140px;" src="../../assets/wordName.png" />
        <h1  style="position:absolute; margin-top:50px; margin-left: 180px;"  id="name">{{name}}</h1>
    </div>
    <div style="position: relative;  display: inline;">
        <img style="position:absolute; left: 500px; margin-top:10px;" src= "../../assets/board.png" />
        <img style="position:absolute; left: 540px;" src="../../assets/SCORE.png" />
        <h1 style="position:absolute; left: 420px; margin-top:50px; margin-left: 180px; " id="score">0</h1>
    </div>
    <div style="position: relative; margin-left: 850px; display: inline;">
        <img style="position:absolute;margin-top:10px;" src= "../../assets/board.png" />
        <img style="position:absolute; left: 50px;" src="../../assets/TIME.png" />
        <h1 style="position:absolute; display: inline;margin-top:50px;margin-left:30px;" id="time"></h1>
    </div>
    
    <div id="game">
        <br>
        <br>
        <br>
        
        <div style="margin-left: 150px; top:200px">
        <h1 style="display:inline;font-family: 'Inter'">Word 1</h1>
        <br>
            
            @for (letter1 of word1 ;let i = $index; track letter1) {
                <div style="position: relative; display:inline;">
                    
                    <img class="wordoneImg" style="position: absolute; height: 100px; width: 100px;" src="../../assets/tile.png">
                <input id="box{{i}}"  style="position: absolute;" readonly class="dropzone word1 {{i}}" style="width: 100px; height: 100px;background-color: transparent;" >
        
                </div>
            }
        </div>   
            <br>
            <br>
        <div style="margin-left: 150px;">
            <h1 style="display:inline;font-family: 'Inter'">Word 2</h1>
            <br>
        
            @for (letter2 of word2 ;let i = $index;track letter2) {
            <div style="position: relative; display:inline;">
                    <img class="wordtwoImg" style="position: absolute; height: 100px; width: 100px;" src="../../assets/tile.png">
            <input id="box{{i+3}}" style="position: absolute; opacity: 0;" readonly class="dropzone word2 {{i}}" style="width: 100px; height: 100px; background-color: transparent;"  />
                </div>
            }
        </div>
            <br>
            <br>
        <div style="margin-left: 150px;">
            <h1 style="display:inline;font-family: 'Inter'">Word 3</h1>
            <br>
            @for (letter3 of word3 ;;let i = $index; track letter3) {
            <div style="position: relative; display:inline;">
                    <img class="wordthreeImg" style="position: absolute; height: 100px; width: 100px;" src="../../assets/tile.png">
            <input id="box{{i+3}}" style="position: absolute; opacity: 0;" readonly class="dropzone word3 {{i}}" style="width: 100px; height: 100px; background-color: transparent;"  />
                </div>
            }
        </div>
            
            
                <div style="margin-left:100px">
                <h1 style="text-decoration: underline;display: inline;">Letters (Do not place letters together in the boxes) </h1><br>
                
                    
                    @for (letter of letters; let i = $index; track letter) {
                    <h1 id="{{letter}}" name="" style="position:absolute" class="draggable letter{{i}}" style="width: 40px; height: 40px;">
                        {{letter}} 
                    </h1> 
                        
                    }
                </div>
            <br>
            <br>
            <br>
    </div>
    <div hidden id="gameover" >
        <img src="../../assets/gameover.png"style="margin-left: 250px;margin-top:150px;">
        <br>
        <img id="next" (click)="sendPostRequestToHome()" style="width:150px;height:150px;margin-left: 250px;" src="../../assets/home.png"/>
        <img id="next" (click)="sendPostRequestToGame()" style="width:150px;height:150px;margin-left: 250px;" src="../../assets/rewind.png"/>
    </div>
    
    
</div>