<div>
    <h1 style="display: inline;"    >Name: </h1><h2 style="display: inline;" id="name">{{name}}</h2><br><br>
    <h1 style="display: inline;"    >Score: </h1><h2 style="display: inline;" id="score">0</h2><br><br>
    <h1 style="display: inline;">Time:</h1><h1 style="display: inline;" id="time"></h1>
    <hr>
    <br>
    <h1 style="display:inline;text-decoration: underline;">1st Word</h1><span> (starts with: {{word1[0]}}, ends with: {{word1[word1.length-1]}})</span>
    <br>
    @for (letter1 of word1 ;track letter1) {
    <input readonly class="dropzone word1" style="width: 100px; height: 100px; background-color: lightgrey;"  />
    }
    
    <br>
    <br>
    <h1 style="display:inline;text-decoration: underline;">2nd Word</h1><span> (starts with: {{word2[0]}}, ends with: {{word2[word2.length-1]}})</span>
    <br>
    @for (letter2 of word2 ;track letter2) {
    <input readonly  class="dropzone word2" style="width: 100px; height: 100px; background-color: lightgrey;"  />
    }
    <br>
    <br>
    <h1 style="display:inline;text-decoration: underline;">3rd Word</h1><span> (starts with: {{word3[0]}}, ends with: {{word3[word3.length-1]}})</span>
    <br>
    @for (letter3 of word3 ;track letter3) {
    <input readonly  class="dropzone word3" style="width: 100px; height: 100px; background-color: lightgrey;"  />
    }
    <br>
    <br>
    <br>
    <br>
    <hr>
    <div>
    <h1 style="text-decoration: underline;display: inline;">Letters</h1><br>
    @for (letter of letters; track letter) {
        
       <div class="draggable" style="width: 40px; height: 40px;">
        {{letter}}
       </div> 
        
    }
    </div>
    <br>
    <br>
    <br>
    <div id="next-container">
        <h1 id="next" (click)="sendPostRequest()"  >Next</h1>
    </div>

    
</div>