<div id="gameTitle" style="background-image: url('../../assets/background.png'); 
           
            background-position: center;
            width: 1000px; 
            height: 800px;">
    <div style="position: relative; top:100px; color:white;">
        <h1 style="position:relative; left:100px">Instructions:</h1>
        <h2>1&#41;Each word gives you points depending on the time left.</h2>
        <h2>2&#41;You can leave the game by pressing the back button.</h2>

    </div>
     <div class="button-menu-container" id="start" class="button-menu"><a style="position: relative; top:100px;width: 100px; height: 50px;" href="/name"> <img id="start-img" src="../../assets/start.png" alt=""></a></div>
    
</div>
