<div id="gameTitle" style="background-image: url('../../assets/background.jpg'); 
           
            background-position: center center;
      height: 100%; overflow: hidden;object-fit: cover;margin: 0;
      padding: 0; height: 100vh;
        ">
    <div style="position: relative; top:100px; margin-left:30%; color:white;">
        <h1 style="position:relative; left:150px">Instructions:</h1>
        <h2>1&#41;Each word gives you points depending on the time left.</h2>
        <h2>2&#41;You can leave the game by pressing the back button.</h2>
        <div class="button-menu-container" id="start" class="button-menu"><a style="position: relative; top:50px;width: 100px; height: 50px;left:80px;" href="/name"> <img id="start-img" src="../../assets/start.png" alt=""></a></div>
    </div>
     
    
</div>
