#gameTitle {
    //text-align: center;
    //width: 100%;
    //width: 800px;
    //height: 700px;
    //border: 2px solid black;
    //background-color: whitesmoke;
    margin :  auto;
}

.button-menu-container {
    margin-bottom: 20%;

}

#leaderboard {
   
    
}
.iconsTop {
    margin-right: 80%;
}

#title {
    //background-color: black;
    
    
    margin: auto;
    margin-bottom: 10%;
    text-decoration:wavy;
    font-size: 50px;
}

#start {
    margin: auto;
    //margin-top: 1px;
    
    width: 250px;
    //  padding: 20px;
    border-radius: 25px;
    

}

a {
    text-decoration: none;    
}


#start-img:hover {
    height: 180px;
    width: 180px;
}

