<div id="gameTitle" style="background-image: url('../../assets/background.jpg'); background-position: center center;
      height: 100%; overflow: hidden;object-fit: cover;margin: 0;
      padding: 0; height: 100vh;
        ">
    
    <div id="leaderboard" ><a href="/"><img id="back-img" class="iconsTop" src="../../assets/pause.png"></a><a href="/leaderboard"><img src="../../assets/leaderboard.png"></a></div>
    <div style="background-image: url('../../assets/wordLogo.png');
            width: 610px; 
            height: 180px;" class="button-menu-container"id="title"><a href="/"></a></div>
    <div class="button-menu-container" id="start" class="button-menu"><a style="width: 100px; height: 50px;" href="/instructions"> <img id="start-img" src="../../assets/play.png" alt=""></a></div>
    
    
</div>
